################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pubs/.vs/Pubs/FileContentIndex/d9e52e84-af35-4e19-aad3-2fba4135d495.vsidx
